# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache

# Environments
.env
.venv/

# Data files
*.csv
*.json
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE files
*.swp
*.swo
